# アプリケーションのクライアントID
# https://dev.twitch.tv/console/apps
CLIENT_ID=""

# OAuthアクセストークン
# https://game.dev7.jp/wanitch/index.html
# アプリケーションのコールバックURLに https://game.dev7.jp/wanitch/callback.html を追加し、
# 上記URLの「ここを押す」ボタンをクリックする
OAUTH_TOKEN=""

# チャンネル名（配信者のユーザーID）
CHANNEL_NAME=""

# ポート番号
PORT="3000"
